.dashboard-container {
  padding: 20px;
  background-color: #eaeaea; /* Light grey background for the whole container */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff; /* White background for the top bar */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
}

.top-bar-buttons {
  display: flex;
  gap: 10px;
}

.add-transaction-button {
  background-color: #4caf50; /* Green background for add button */
  color: white;
}

.logout-button {
  background-color: #f44336; /* Red background for logout button */
  color: white;
}

.balance-summary {
  padding: 20px;
  text-align: center;
  background-color: #ffffff; /* White background for balance summaries */
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
}

.categories-section {
  padding: 20px;
  background-color: #ffffff; /* White background for categories section */
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
  margin-top: 20px;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.transaction-filter-section {
  padding: 20px;
  background-color: #ffffff; /* White background for filter section */
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
  margin-top: 20px;
}

.transaction-list-section {
  padding: 20px;
  background-color: #ffffff; /* White background for transaction list */
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
  margin-top: 20px;
}

.transaction-item {
  padding: 15px;
  border-bottom: 1px solid #dcdcdc; /* Light grey border for separation */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-actions {
  display: flex;
  gap: 10px;
}

.category-item {
  color: #333333; /* Dark grey text for category items */
}
